.asset-icon-custom-structure {
	color: $cadmin-blue-l1 !important;
}

.asset-icon-basic-content {
	color: $cadmin-secondary !important;
}

.asset-icon-blog {
	color: $cadmin-green !important;
}

.asset-icon-knowledge-base {
	color: $cadmin-pink !important;
}

.asset-icon-document-default {
	color: $cadmin-secondary !important;
}

.asset-icon-document-compressed {
	color: $cadmin-secondary !important;
}

.asset-icon-document-table {
	color: $cadmin-teal-l1 !important;
}

.asset-icon-document-image {
	color: $cadmin-red-l1 !important;
}

.asset-icon-document-presentation {
	color: $cadmin-orange-l1 !important;
}

.asset-icon-document-vector {
	color: $cadmin-purple-l1 !important;
}

.asset-icon-document-text {
	color: $cadmin-cyan-l1 !important;
}

.asset-icon-document-code {
	color: $cadmin-pink-l1 !important;
}

.asset-icon-folder {
	color: $cadmin-gray-600 !important;
}
